body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

*{
    outline: none;
    list-style: none;
    text-decoration: none;
}

.container{
    width:80%;
}

:root{
    --main-color:#051441;
    --secondary-color:#17b978;
}
